<div class="wrapper">
    <app-header></app-header>
    <app-sidebar moduleName="cuaca"></app-sidebar>
  
    <div class="content-wrapper">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Cuaca</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item">
                  <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Home</a>
                </li>
                <li class="breadcrumb-item active">Cuaca</li>
                <h2>STEVAN LIM (222102453)</h2>
              </ol>
            </div>
          </div>
        </div>
      </div>
  
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Input field untuk kota -->
            <div class="col-md-6">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Masukkan nama kota...."
                  (keydown.enter)="handleEnter($event)"
                />
              </div>
            </div>
          </div>
  
          <div class="row">
            <!-- Table untuk menampilkan data cuaca -->
            <div class="col-12">
              <div class="table-responsive">
                <table id="table1" class="table table-hover table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Waktu</th>
                      <th>Icon</th>
                      <th>Cuaca</th>
                      <th>Suhu</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- Data cuaca akan ditambahkan ke dalam tabel ini -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  
    <app-footer></app-footer>
  </div>
  